# node_modules
node_modules/*
2.mapping-quantities/ryan/node_modules/*
3.textual-and-qualitative-data/students/ryan/node_modules/*
4.mapping-space/ryan/node_modules/*
5.final-project/ryan/final/node_modules/*

# other
C:\Users\rbest\Documents\Personal\dvia-2017\3.textual-and-qualitative-data\example\*
